<div class = "shopping-list">
    <p>Shopping List</p>



    <div ng-repeat="list_day  in arrList" class = "list-day">
        <p class = "list-date"> {{list_day.meal_date}}<button class = "unlist" ng-click = "unlistDay(list_day.id)">Unlist</button></p>
        <p ng-click="editMeal(list_day.breakfast_id,'breakfast')" ng-show = "list_day.breakfast_label">Breakfast:  {{list_day.breakfast_label}}</p>
        <p ng-click="editMeal(list_day.lunch_id,'lunch')" ng-show = "list_day.lunch_label">Lunch:  {{list_day.lunch_label}}</p>
        <p ng-click="editMeal(list_day.dinner_id,'dinner')" ng-show = "list_day.dinner_label">Dinner:  {{list_day.dinner_label}}</p>
    </div>
    <ul ng-repeat="food in arrShoppingFood " class = "list-ingredients">
        <li>{{food.count}}   {{food.fld_unit}}   {{food.fld_label}}  </li>

    </ul>


</div>
<button ng-click = "logOut()">logout</button>
