<div class = "meal-box-col">

        <div class = "breakfasts">
            <button class = "new-meal" ng-click="newMeal('breakfast')">New Breakfast </button>
            <select  ng-attr-size="{{ arrBreakfasts.length + 2}}" class = "meal-pick"  name = "breakfast" ng-model="breakfast.id" ng-change="editMeal(breakfast.id, 'breakfast')" ng-click="editMeal(breakfast.id, 'breakfast')">
                <option value = "" >Clear<span class = "my-span"></span></option>
                <option ng-repeat="meal in arrBreakfasts" value="{{meal.id}}">{{meal.fld_meal_label}}</option>
            </select>
        </div>
        <div class = "lunches">
            <button class = "new-meal" ng-click="newMeal('lunch')">New Lunch </button>
            <select ng-attr-size="{{ arrLunches.length + 2 }}" class = "meal-pick"  name = "lunch"ng-model="lunch.id" ng-change="editMeal(lunch.id,'lunch')" ng-click="editMeal(lunch.id,'lunch')">
                <option value = "" ><span class = "my-span">Clear</span></option>

                <option ng-repeat="meal in arrLunches" value="{{meal.id}}">{{meal.fld_meal_label}}</option>
            </select>

        </div>
        <div class = "dinners">
            <button class = "new-meal" ng-click="newMeal('dinner')">New Dinner </button>

        <select ng-attr-size="{{ arrDinners.length + 2}}" class = "meal-pick"  name = "dinner" ng-model="dinner.id" ng-change="editMeal(dinner.id,'dinner')" ng-click="editMeal(dinner.id,'dinner')">
            <option value = "" >Clear<span class = "my-span"></span></option>

            <option ng-repeat="meal in arrDinners" value="{{meal.id}}">{{meal.fld_meal_label}}</option>
        </select>
        </div>
</div>


<!--<div class = "meal-edit-col" ng-show="showMealForm">


        <form novalidate class="meal-form" name = "frmMeal">
            <p>Label</p>
            <input name = "label" ng-model="meal.label" type = "text" placeholder="enter description"  />
            <p>Dishes</p>
            <textarea name = "dishes" ng-model = "meal.dishes"></textarea>


            <p>Amount</p>
            <input  name = "food.amount" ng-model = "food.amount" type = "text" name = "amount" placeholder="amount" />
            <p>Unit</p>
            <input  name = "food.unit" ng-model = "food.unit" type = "text" name = "unit" placeholder="unit" />
            <p>Food</p>
            <input name = "food.label" ng-model = "food.label" type = "text" name = "food" placeholder="food" />
            <button ng-click = "addFood(food.amount, food.unit, food.label)">Add</button>
            <p>Foods</p>
            <table class = "food-list">
                <tr><td>amt     </td><td>unit     </td><td>food     </td><TD>nuke</TD></tr>
            <tr ng-repeat = "ingredient in arrFoods">
                <td>{{ingredient.amount}}</td>
                <td>{{ingredient.unit}}</td>
                <td>{{ingredient.label}}</td>
                <td><button class = "pop-food" ng-click = "popFood($index)">-</button></td>
            </tr>

            </table>

            <p>Instructions</p>
            <textarea name = "instructions" ng-model = "meal.instructions"></textarea>




            <input type="submit"  value="Save" ng-click = "saveMeal(meal)" />
            <button ng-click="cancelMeal()">Cancel </button>
            <button ng-click="deleteMeal()">Delete </button>

        </form>




</div>-->
