
<!-- ng-disabled for "slide in a meal" buttons when each meal is selected.
// select of meal makes each one selected.
// if deleted, selected reset. getmeals()?
// one week range. Array of dates. week start variable, reset by next or prev.
// getDates or getDays is an sql statement for the week.
// when a meal is "slid" in, check if date exists . If exists, update, else insert.
// figure out schema for tbl_dates
// date, breakfast_meal, breakfast_cook, in_list
// get dates populates one week array of objects. Store id if is one, empty if not.
// This is how we can check if exists for update or insert.
-->
<button ng-click = "prevWeek()">Prev</button>

<div ng-repeat="day  in arrWeek" class = "week-day">
    <p>Date:{{day.meal_date}}<button ng-click = "listDay(day.id)" ng-show = "!day.in_list && day.id ">list</button></p>
    <div class = "day-line" >
        <select ng-model="day.breakfast_cook_id" name = "breakfast_cook"  ng-change = "setBreakfastCook(day.breakfast_cook_id, day.id)" ng-disabled = "!day.breakfast_id">


            <option ng-repeat="cook in arrCooks" value="{{cook.cook_id}}">{{cook.cook_label}}</option>
        </select>


        Breakfast:{{day.breakfast_label}}<button class = "grab-meal" ng-click = "grabBreakfast(day.meal_date, day.id)" ng-disabled = "!breakfast_id" >grab Breakfast</button>
    </div>
    <div class = "day-line" >
        <select ng-model="day.lunch_cook_id" name = "lunch_cook"  ng-change = "setLunchCook(day.lunch_cook_id, day.id)" ng-disabled = "!day.lunch_id">


            <option ng-repeat="cook in arrCooks" value="{{cook.cook_id}}">{{cook.cook_label}}</option>
        </select>

        Lunch:{{day.lunch_label}}<button class = "grab-meal" ng-click = "grabLunch(day.meal_date, day.id)" ng-disabled = "!lunch_id" >grab Lunch</button>
    </div>
    <div class = "day-line" >
        <select ng-model="day.dinner_cook_id" name = "dinner_cook"  ng-change = "setDinnerCook(day.dinner_cook_id, day.id)" ng-disabled = "!day.dinner_id">


            <option ng-repeat="cook in arrCooks" value="{{cook.cook_id}}">{{cook.cook_label}}</option>
        </select>

        Dinner:{{day.dinner_label}}<button class = "grab-meal" ng-click = "grabDinner(day.meal_date, day.id)" ng-disabled = "!dinner_id">grab Dinner</button>
    </div>
</div>
<button ng-click = "nextWeek()">Next</button>
