
body{
    font-family: Century Gothic, sans-serif;
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-size: 12px;
    color: #660066;
    margin:0;
    padding:0;
    background-image: url("/images/food.jpg");
    background-size: auto;
    line-height: 50%;


}
p{
    margin: 5px;
}
.list-ingredients{
    line-height: 30%;
}
.list-day{
}
.list-me{
    margin: 0;
    height: 10px;
    margin-left: 20px;

}
.planner{
    background-color: grey;


}

.week-nav{
    width: 98%;
    margin-left: 1%;


}


.edit-block{
    line-height: 60%;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
     background-color: #ffffff;
     border-style: none;

}
.edit-text{
    width: 90%;
}


.edit-instructions{
    height: 200px;
    width: 90%;
}


.meal-pick{
    width: 100%;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;

}
.food-list{
    background-color: #ffffff;
    width: 90%;
    border-style: none;


}
.list-container{


    width: 20%;
    float: left;
    height: 1000px;
    border-style: none;




}
.week-container{
    width: 40%;
    float: left;
    height: 1000px;
    border-style: none;





}
.meal-container{
    width: 20%;
    float: left;
    height: 1000px;
    border-style: none;





}
.edit-container{
    width: 20%;
    float: right;
    height: 1000px;
    border-style: none;





}
.shopping-list{
    border-radius: 5px;
    margin: 5px;
     line-height: 100%;
     padding: 2px;
     background-color: #ffffff;
     border-style: none;

}
.shopping-list p{
}
.meal-box-col{


}
.meal-edit-col{




}

.week-day  {
    line-height: 40%;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
     background-color:  #e6f7ff;
     border-style: none;


}
.day-unlisted{
    background-color:  #ccffdd;
}
.day-line{


}
.grab-meal{
    float: right;
    width: 80px;
}
.unlist{
    float: right;
    width: 80px;
}

.breakfasts{
    width: 300 px;

}
.lunches{
    width: 300 px;


}
.dinners{
    width: 300 px;


}




.grab-meal:disabled {
    color: #AAAAAA;
}



.week-day{
    border-style: none;

}

.meal-box-col{


}
.meal-edit-col{



}
