
body{
    font-family: Century Gothic, sans-serif;
    margin:0;
    padding:0;

}
.planner{
    background-color: grey;
    height: 100px;
}

.week-nav{
    width: 98%;
    margin-left: 1%;


}


.edit-block{
    line-height: 60%;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
     background-color: #ffffff;
     border-style: none;

}
.edit-text{
    width: 90%;
}
.edit-instructions{
    height: 200px;
    width: 90%;
}


.meal-pick{
    width: 100%;
    border-radius: 5px;
}
.food-list{
    background-color: #ffffff;
    width: 90%;
    border-style: none;


}
.list-container{
    width: 20%;
    float: left;
    background-color: red;
    height: 1000px;
    border-style: none;



}
.week-container{
    width: 40%;
    float: left;
    background-color: green;
    height: 1000px;
    border-style: none;





}
.meal-container{
    width: 20%;
    float: left;
    background-color: blue;
    height: 1000px;
    border-style: none;





}
.edit-container{
    width: 20%;
    float: right;
    background-color: teal;
    height: 1000px;
    border-style: none;





}
.meal-box-col{


}
.meal-edit-col{




}
.shopping-list{
    border-radius: 5px;
    margin: 5px;
     line-height: 80%;
     padding: 2px;
     background-color: #ffffff;
     border-style: none;



}
.week-day{
    line-height: 60%;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
     background-color:  #e6f7ff;
     border-style: none;


}
.day-unlisted{
    background-color:  #ccffdd;
}
.day-line{


}
.grab-meal{
    float: right;
    width: 80px;
}
.unlist{
    float: right;
    width: 80px;
}

.breakfasts{
    width: 300 px;

}
.lunches{
    width: 300 px;


}
.dinners{
    width: 300 px;


}




.grab-meal:disabled {
    color: #AAAAAA;
}



.week-day{
    border-style: none;

}

.meal-box-col{


}
.meal-edit-col{



}
