xdiv {
    border-radius: 5px;
    margin: 5px;
     border: 1px solid black;
     line-height: 80%;
     padding: 2px;
     background-color: #ffffff;

}

.meal-pick{
    width: 300px;
}
.food-list{
    background-color: #ffffff;
    border: 1px solid black;
    width: 200px;

}
.list-container{
    width: 500px;
    float:left;
    display: inline-block;
    background-color: red;



}
.week-container{
    width: 500px;
    display: inline-block;
    background-color: green;



}
.meal-container{
    width: 500px;
    display: inline-block;
    background-color: blue;


}
.meal-box-col{
    display: block;

    width: 300px;
    background-color: purple;
    float: left;

}
.meal-edit-col{

    width: 300px;
    background-color: salmon;
    float: right;


}
.shopping-list{
    border-radius: 5px;
    margin: 5px;
     border: 1px solid black;
     line-height: 80%;
     padding: 2px;
     background-color: #ffffff;


}
.week-day{
    line-height: 60%;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
     border: 1px solid black;
     background-color: #ffffff;

}
.day-line{


}
.grab-meal{
    float: right;
}

.breakfasts{
    width: 300 px;

}
.lunches{
    width: 300 px;


}
.dinners{
    width: 300 px;


}


.planner{
    background-color: grey;
}

.grab-meal:disabled {
    color: #AAAAAA;
}



.week-day{
    border: 1px solid black;
}

.meal-box-col{
    width: 25%;
    float: left;

}
.meal-edit-col{
    width: 25%;
    float: right;


}
